{% extends 'base.html' %}
{% load static %}


{% block styles_custom %}
<!-- Custom styles for this page -->
<link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
{% endblock styles_custom %}


{% block heading %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{Judul}}</h1>
    <a href="{% url "pesan:kirim-massal" %}" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Kirim Pesan Massal</span>
    </a>
</div>
{% endblock heading %}


{% block data_table %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{Judul_Tabel}}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Judul Pesan</th>
                    <th>Pesan Terkirim</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Judul Pesan</th>
                    <th>Pesan Terkirim</th>
                </tr>
            </tfoot>
            <tbody>
                {% for data in list_template %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.0}}</td>
                    <td>{{data.1}} pesan</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock data_table %}


{% block scripts_custom %}
<!-- Page level plugins -->
<script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

<!-- Page level custom scripts -->
<script src="{% static "js/demo/datatables-demo.js" %}"></script>
{% endblock scripts_custom %}