{% extends 'base.html' %}
{% load static %}

{% block heading %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{Judul}}</h1>
</div>
{% endblock heading %}


{% block tambah %}
<div class="row">
    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{Subjudul}}</h6>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in templates_form %}
                        <div class="form-group row">
                            <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
                            <div class="col-sm-10">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success float-right">Buat</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock tambah %}