<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "index" %}">
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Broadcast <sup>WhatsApp</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url "index" %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu Utama
    </div>

    <!-- Nav Item - Kontak Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKontak" aria-expanded="true" aria-controls="collapseKontak">
            <i class="fas fa-fw fa-phone"></i>
            <span>Kontak</span>
        </a>
        <div id="collapseKontak" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu:</h6>
                <a class="collapse-item" href="{% url "kontak:index" %}"><i class="fas fa-fw fa-address-book"></i><span> Lihat Kontak</span></a>
                <a class="collapse-item" href="{% url "kontak:tambah" %}"><i class="fas fa-fw fa-plus"></i><span> Tambah Kontak</span></a>
                <a class="collapse-item" href="{% url "kontak:cari" %}"><i class="fas fa-fw fa-search"></i><span> Cari Kontak</span></a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pesan Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePesan" aria-expanded="true" aria-controls="collapsePesan">
            <i class="fas fa-fw fa-inbox"></i>
            <span>Pesan</span>
            </a>
        <div id="collapsePesan" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu:</h6>
                <a class="collapse-item" href="{% url "pesan:index" %}"><i class="fas fa-fw fa-paper-plane"></i><span> Pesan Massal</span></a>
                <a class="collapse-item" href="{% url "pesan:templates" %}"><i class="fas fa-fw fa-archive"></i><span> Template</span></a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Lainnya
    </div>

    <!-- Nav Item - Grup Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGrup" aria-expanded="true" aria-controls="collapseGrup">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Grup</span>
        </a>
        <div id="collapseGrup" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu:</h6>
                <a class="collapse-item" href="{% url "grup:index" %}"><i class="fas fa-fw fa-users"></i><span> Lihat Grup</span></a>
                <a class="collapse-item" href="{% url "grup:tambah" %}"><i class="fas fa-fw fa-user-plus"></i><span> Tambah Grup</span></a>
            </div>
        </div>
    </li>
    
    <!-- Nav Item - Desa Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDesa" aria-expanded="true" aria-controls="collapseKategori">
            <i class="fas fa-fw fa-flag"></i>
            <span>Desa</span>
        </a>
        <div id="collapseDesa" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu:</h6>
                <a class="collapse-item" href="{% url "desa:index" %}"><i class="fas fa-fw fa-map"></i><span> Lihat Desa</span></a>
                <a class="collapse-item" href="{% url "desa:tambah" %}"><i class="fas fa-fw fa-street-view"></i><span> Tambah Desa</span></a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">
        <i class="fas fa-fw fa-info-circle"></i>
        <span>Informasi</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
  <!-- End of Sidebar -->